##########################################################################
# common
##########################################################################
*.log
*.swp
.DS_Store
__MACOSX/
*/.DS_Store
.vscode

#########################################################################
# ignore dir
#########################################################################
/logs/

##########################################################################
# Python
#########################################################################
__pycache__/
.idea
*/.idea

##########################################################################
# git
#########################################################################
.gitkeep
*/.gitkeep

